.nav {
    margin-bottom: 0pc;
    }
.clear {
    clear: both;
    }
.left-flow {
    float: left;
    width: 50%;
    margin: 10px;
    }
.right-flow {
    float: right;
    width: 50%;
    margin: 10px;
    }
.left-nav {
    float: left;
    margin: 10px;
    }
.right-nav {
    float: right;
    margin: 10px;
    }
.image {
    border: 2px solid black;
    }
figcaption {
    text-align: center;
    font-weight: bold;
    font-size: 100%;
    }
